{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "shippedProposals": true,
      "loose": true
    }],
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
