{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "shippedProposals": true,
      "loose": true
    }],
    "@babel/preset-stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy",
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}
