{
  "plugins": [
    "transform-decorators-legacy",
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-syntax-object-rest-spread"
  ]
}
